.main  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;

}
.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border: 1px solid;
    background-color: #5c7959;


}
.btnWrapper{
    padding-top: 30px;
}

.btn{
    border-radius: 10px;
    background-color: #74a864;
}