.main  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;

}
.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    background-color: #191D2A;

    color: #a4acc4;
    font-family: Nunito,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8rem;
}
.btnWrapper{
    padding-top: 30px;

}

.btn{

    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #037fff;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF;
    font-family: Nunito,sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.8rem;
}