@import "../../common/styles/sass/mixins";

.main {
  max-width: 100%;
  .title {
    color: white;
    @include text($fontFamily, 30px, 600, 1.8rem);
  }

  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: start;
    color: #a4acc4;
    @include smallGreyText($fontFamily, 18px, 400, 1.8rem);

    .formField {
      font-size: 1rem;
      margin-top: 30px;
      width: 100%;

      .formFieldInput {
        border: 1px solid #2e344e;
        font-size: 1rem;
        height: 50px;
        padding: 0 15px;
        vertical-align: middle;
        min-width: 100%;
        background: transparent;
        color: #a4acc4;
        font-family: Nunito, sans-serif;
      }
      .formFieldTextarea{
        border: 1px solid #2e344e;
        font-size: 1rem;
        height: 50px;
        padding-right: 20px;

        vertical-align: middle;
        min-width: 100%;
        background: transparent;
        color: #a4acc4;
        font-family: Nunito, sans-serif;
        min-height: 90px;
      }
    }
  }

  .btnWrapper {
    padding-top: 20px;
    padding-bottom: 30px;



  }
}



