.contactsBlock {
    height: 100vh;
    background-color: #10121b;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.title {
    background-color: #b6ac89;
}

.contacts {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
