@import "../../src/common/styles/sass/Variables";
.contactsBlock {
    background-color: #10121b;
    max-height: 100%;
    .contactsContainer {
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-top: 50px;

        .contacts {
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            box-sizing: border-box;

            align-items: center;

            @media screen and (min-width: 1255px) {
                justify-content: space-between;
            }

        }
    }

}




