.skill{
    width: 250px;
    background-color: #191D2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.skill h3{
    font-weight: 600;
    margin-top: -8px;
    margin-bottom: 0;
    font-size: 2rem;
    color: #FFF;
    font-family: Nunito,sans-serif;
    text-transform:capitalize;
}
.icon{
    width: 60px;
    height: 60px;
    background-color: #856c53;
}

.description{
    color: #a4acc4;
    font-family: Nunito,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8rem;
}