
@import "../../common/styles/sass/mixins";
.col {
  display: flex;
  flex-direction: column;
   max-width: 100%;

  .myContactInfoBlock {
    background: #191d2b;
    display: flex;
    margin-top: 30px;
    padding: 30px;
    align-items: center;
    @include smallGreyText($fontFamily, 18px, 400, 1.8rem);

    .myContactInfoBlockIcon {
      border: 1px solid #2e344e;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 40px;
      height: 40px;
      line-height: 66px;
      margin-right: 20px;
      text-align: center;
      width: 40px;

    }

    .myContactInfoBlockContent {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items:start;

      color: #a4acc4;
      transition: all .4s ease-out;

      h6 {
        font-size: 1.14rem;
        line-height: 1.857rem;
      }
      a {
        text-decoration: none;
        @include smallGreyText($fontFamily, 18px, 400, 1.8rem);
      }

    }
  }
}




