@import "./src/common/styles/sass/Variables";

.title {
  padding-bottom: 15px;
  margin: 0 0 30px;

}
.title h2 {
  font-weight: 700;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  font-size: 2.57rem;
  line-height: 3.2857rem;
  color: $textColor;
  font-family: Nunito, sans-serif;
}

::before {
  border-radius: 100px;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: auto;
  background: $primarySecondColor;
  width: 100px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::after {
  background: $primaryColor;
  width: 35px;
  border-radius: 100px;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
