.worksBlock {
   height: 100vh;
    background-color: #7caf63;

}

.worksContainer {

    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #5c7959;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}