@import "./src/common/styles/sass/Variables";

.skillsBlock {
    height: 100%;
    background-color: $bgSecondColor;
    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 20px;
        flex-wrap: wrap;
        padding-top: 50px;
    }
    .skills {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding-top: 30px;
    }
}


