.mainBlock {
    height: 100vh;
    background-color: #10121b;
}
.container{
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.text {
    width: 300px;
    background-color: #191D2A;

    color: #a4acc4;
    font-family: Nunito,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8rem;
}
.text h1{
    color: #FFF;
    font-family: Nunito,sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.8rem;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #191D2A;
}

