@import "../common/styles/sass/mixins";
@import "../common/styles/sass/Variables";

.nav {
   width: 400px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-right: 10px;
   .ref{
      color: $textSecondColor;
      text-decoration: none;
      @include smallGreyText($fontFamily, 18px, 400, 1.8rem);
   }
}

