@import "./Variables";

@mixin text ($fontFamily, $fontSize, $fontWeight, $lineHeight){
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $textColor;
}

@mixin smallGreyText ($fontFamily, $fontSize, $fontWeight, $lineHeight){
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $textSecondColor;
}

@mixin flex ($flex-direction, $justify-content, $align-items, $flex-wrap){
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}