@import "../common/styles/sass/mixins.scss";
@import "../common/styles/sass/Variables";

*{
    box-sizing: border-box;
}

.skillsBlock {
    background-color: $bgSecondColor;
    .container {
        flex-direction: column;
        justify-content: flex-start;
        .title {
            @include smallGreyText($fontFamily, 18px, 600, 1.8rem);
        }
        .social {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-around;
            box-sizing: border-box;
            flex-wrap: wrap;

        }
    }
}







